@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jb.eot');
  src: url('/fonts/jb.eot?#iefix') format('embedded-opentype'),
       url('/fonts/jb.woff2') format('woff2'),
       url('/fonts/jb.woff') format('woff'),
       url('/fonts/jb.ttf') format('truetype'),
       url('/fonts/jb.svg#JetBrainsMono') format('svg');
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/poppins.eot');
  src: url('/fonts/poppins.eot?#iefix') format('embedded-opentype'),
       url('/fonts/poppins.woff2') format('woff2'),
       url('/fonts/poppins.woff') format('woff'),
       url('/fonts/poppins.ttf') format('truetype'),
       url('/fonts/poppins.svg#Poppins') format('svg');
}

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

blockquote {
  font-family: "JetBrains Mono", monospace;
}

.dsclmr{
  font-weight: bold;
}

.credit {
  font-size: 81%;
}

.post-date, .tag-item {
  font-size: 0.9em;
}

.post-title{
  font-size: 1.5em;
  font-weight: bold;
}

.postdate {
  font-size: 80%;
  opacity: 0.7;
}

.nav-link {
  font-weight: bold;
}
