@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "JetBrains Mono", monospace;
}

blockquote {
  font-family: "JetBrains Mono", monospace;
}

.dsclmr{
  font-weight: bold;
}

.credit {
  font-size: 81%;
}

.post-date, .tag-item {
  font-size: 0.9em;
}

.post-title{
  font-size: 1.5em;
  font-weight: bold;
}

.postdate {
  font-size: 80%;
  opacity: 0.7;
}

.nav-link {
  font-weight: bold;
}
