body {
  font-family: sans-serif;
  font-size: 90%;
}

code {
  font-family: monospace;
}

blockquote {
  font-family: sans-serif;
  opacity: 70%;
  font-size: 80%;
}

.dsclmr {
  font-weight: bold;
}

.credit {
  font-size: 81%;
}

.post-date,
.tag-item {
  font-size: 0.9em;
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
}

.postdate {
  font-size: 80%;
  opacity: 0.7;
}

.nav-link {
  font-weight: bold;
}
