@import 'fonts';
@import 'mobile';


html,
body {
  color: black;
  background: #f7f7f2;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;

  li {
    margin: 0.3rem 0;
  }

}

body a {
  text-decoration: none;
  color: #15313a;
}

*:target {
  background: yellow;
}

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

hr {
  margin: 2rem 0;
  text-align: center;
  border: 0;

  &:before {
    content: "--- END";
  }

  &:after {
    content: attr(data-content) " ---";
  }
}

// Tables
table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

tr {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

li a {
  text-decoration: none;
  position: relative;
  color: black;
}

ul {
  padding-left: 5px;
  list-style: circle;
  margin-left: 25px;
  position: relative;

  li {
    &:hover {
      list-style: disc;
    }
  }
}

// Code blocks
pre {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid black;
  overflow-x: auto;
  box-shadow: 0px 0px 10px #c7c7a2;
}

.key {
  text-align: center;
}


blockquote {
  border: solid #444;
  padding: 1.5rem;
  margin: 10px 0;
  border-radius: 5px;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  align-content: center;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #c7c7a2;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

.dsclmr {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  color: #fcf8f0;
  background: #cc6666;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.webring {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}


header {
  display: flex;
  align-items: center;
}

header .house {
  margin-right: 7px;
}

header .house i {
  font-size: 28px;
}


header a {
  text-decoration: none;
  color: black;
}


h1 {
  font-size: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
}

.house {
  font-size: 2em;
  display: flex;
}

.footer a {
  color: black;
  text-decoration: none;
}
