@media (max-width: 768px) {

  body {
    font-size: 90%;
  }

  table tr {
    font-size: 80%;
  }

  ul {
    margin-left: 15px;
  }

  .w {
    padding: 0.5rem;
  }

  blockquote {
    padding: 0.8rem;
  }

  img {
    margin-bottom: 1rem;
  }

  .dsclmr {
    font-size: 1em;
  }
}
