{{- $posts := "" -}}

{{- if .section -}}
  {{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
  {{- if (eq .context.Kind "taxonomy") -}}
    {{- if (ne .context.RelPermalink "/tags/") -}}
      {{- $posts = .context.Pages -}}
    {{- end -}}
  {{- else -}}
    {{- if (eq .context.Kind "term") -}}
      {{- $posts = .context.Data.Pages -}}
    {{- else -}}
      {{- $posts = site.RegularPages -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $limit_exceeded := false -}}
{{- if and .limit (gt (len $posts) .limit) -}}
  {{- $limit_exceeded = true -}}
{{- end -}}

{{- if eq .context.RelPermalink "/tags/" -}}
  <div class="tag-list">
    <h3>Tags</h3>
    <div class="tags">
      {{- range $key, $value := site.Taxonomies.tags -}}
        <a href="/tags/{{ $key | urlize }}" class="tag-item">{{ $key }} ({{ len $value }})</a>
      {{- end -}}
    </div>
  </div>
{{- else -}}
  {{- if eq .context.RelPermalink "/post/" -}}
  <details>
    <summary>Tags</summary>
        <div class="tag-list">
    <div class="tags">
        {{- range $key, $value := site.Taxonomies.tags -}}
        <a href="/tags/{{ $key | urlize }}" class="tag-item">{{ $key }} ({{ len $value }})</a>
        {{- end -}}
      </div>
    </div>
</details>
  {{- end -}}
  
  {{- if gt (len $posts) 0 -}}
    {{- if .limit -}}
      {{- $posts = (first .limit $posts) -}}
    {{- end -}}
    <div class="post-list-container">
      <div class="post">
        {{- range $post := $posts -}}
          <a href="{{ $post.Permalink | relURL }}">
            <div class="post-content" >
              <span>{{ $post.Date | time.Format site.Params.theme_config.date_format }}</span>
              <h2 class="post-title">{{ $post.Title }}</h2>
              <p class="post-desc">{{ $post.Description }}</p>
              <div class="tags">
                {{- range $post.Params.tags -}}
                  <a href="/tags/{{ . | urlize }}" class="tag-item">{{ . }}</a>
                {{- end -}}
              </div>
            </div>
          </a>
        {{- end -}}
      </div>
    </div>
  {{- end -}}
{{- end -}}

